{% extends "layout.html" %}
{% block content %}

    <h3>Branch deleter - {{ template_current_branch }}</h3>

    <p>Let's delete the branch in the Github repository
        ( Github repo represents the model in the MVC pattern )</p>

    <p>Are you sure?</p>

    <form action="{{url_for('controller_gh_ui.ui_singleton_branch_delete_route', branch_name=template_current_branch)}}"
          method="POST" enctype="multipart/form-data">
        <button type="submit" class="btn btn-primary">yes - delete</button>
        <a href="javascript:history.back()" class="btn btn-secondary">go back</a>
    </form>

{% endblock %}
