{% extends "layout.html" %}
{% block content %}
<div class="config">
    <h1>Branch creator</h1>
    <p>Let's create the branch based on the source branch {{ template_current_branch }} in the Github repository
        ( Github repo represents the model in the MVC pattern )</p>

    <form action="/branch_creator/" method="POST"
          enctype="multipart/form-data">
         <input type="hidden" name="branch_name_src" value="{{ template_current_branch }}">
        <p><textarea name="branch_name_tgt" maxlength="70">New_branch_name</textarea></p>
        <input type="submit" value="create">
    </form>

</div>
{% endblock %}
