{% extends "layout.html" %}
{% block content %}
<div class="config">
    <h1>File editor - {{ file_name }}</h1>
    <p>Let's update the file contents through a commit to the branch {{ template_current_branch }}
        in the Github repository ( Github repo represents the model in the MVC pattern )</p>

    <form action="/file_editor/{{ template_current_branch }}/file/edit/{{ file_name }}" method="POST"
          enctype="multipart/form-data">
        {% if file_contents != None %}
            <p><textarea name="file_contents" cols="150" rows="20">{{ file_contents }}</textarea></p>
        {% else %}
            <p><input type="file" name="uploaded_file" /></p>
        {% endif %}
        <p><textarea name="commit_message" maxlength="70" placeholder="commit message"></textarea></p>
        <input type="submit" value="commit">
    </form>

</div>
{% endblock %}
