{% extends "layout.html" %}
{% block content %}

    <h3>File deleter - {{ file_name }}</h3>

    <p>Let's delete the file through a commit to the branch {{ template_current_branch }}
        in the Github repository ( Github repo represents the model in the MVC pattern )</p>

    <form action="{{url_for('controller_gh_ui.file_deleter', branch_name=template_current_branch, file_name=file_name)}}"
          method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <textarea name="commit_message" maxlength="70" placeholder="commit message" class="form-control" rows="1"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">commit</button>
        <a href="javascript:history.back()" class="btn btn-secondary">go back</a>
    </form>

{% endblock %}
