{% extends "layout.html" %}
{% block content %}
<div class="config">
    <h1>File uploader</h1>
    <p>Let's pass the file contents through a commit to the branch {{ template_current_branch }}
        in the Github repository ( Github repo represents the model in the MVC pattern )</p>

    <form action="/file_uploader/{{ template_current_branch }}/" method="POST"
          enctype="multipart/form-data">
        You can either upload an existing file:
        <p><input type="file" name="uploaded_file"/></p>
        or create new file via this form:
        <p><input type="text" name="file_name" placeholder="file name"></p>
        <p><textarea name="file_contents" cols="150" rows="20" placeholder="file content"></textarea></p>
        <p><textarea name="commit_message" maxlength="70" placeholder="commit message"></textarea></p>
        <input type="submit" value="commit">
    </form>

</div>
{% endblock %}
