{% extends "layout.html" %}
{% block content %}

    <h3>Github branches manager</h3>

    <ul>
        <li>Github session object ID: {{ gh_session_id }}</li>
        <li>List of branches in the {{ template_repo_name }} repository:</li>
    </ul>

    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">branch name</th>
                <th scope="col" colspan="2" style="width: 30%">available actions</th>
            </tr>
        </thead>
        {% for branch in template_branch_list %}
        <tr>
            <td><a href="{{url_for('controller_gh_ui.gh_files_manager', branch_name=branch)}}">
                {{ branch }}</a></td>
            <td>
                <a href="{{ url_for('controller_gh_ui.create_branch', branch_name=branch) }}">
                    copy to a new branch
                </a>
            </td>
            <td>
                <a href="{{ url_for('controller_gh_ui.delete_branch', branch_name=branch) }}">
                    delete branch
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
