{% extends "layout.html" %}
{% block content %}
<div class="gh_files_manager">
    <h1>Github files manager</h1>
    <p>Let's see how we can work with Github files using PyGithub library.</p>

    <ul>
        <li>Github session object ID: {{ gh_session_id }}</li>
        <li>Branches:

            <select name=branches method="GET" action="/">
                {% for branch in b_list %}
                <option value="{{branch}}" SELECTED>{{branch}}</option>
                {% endfor %}
            </select>

        </li>
        <li>Upload a new layout file <a href="{{url_for('upload')}}">here</a></li>
        <li>Files list in the {{ curr_branch }} branch:</li>

        <table class="unstyledTable">
            <thead>
            <tr>
                <td>file name</td>
                <td></td>
                <td></td>
            </tr>
            </thead>
            {% for file in f_list %}
            <tr>
                <td>{{ file }}</td>
                <td><a href="gh_file_manager/file/edit/{{ file }}">edit</a></td>
                <td><a href="gh_file_manager/file/delete/{{ file }}">delete</a></td>
            </tr>
            {% endfor %}
        </table>

    </ul>

</div>
{% endblock %}
