{% extends "layout.html" %}
{% block content %}
<div class="gh_files_manager">
    <h1>Github files manager</h1>
    <p>Let's see how we can work with Github files using PyGithub library.</p>

    <ul>
        <li>Github session object ID: {{ gh_session_id }}</li>
        <li>Choose a Github branch:
            {% for branch in template_branch_list %}
            <a href="/views/gh_files_manager/branch/{{ branch }}"
               {% if branch== template_current_branch %} class="selected" {% endif %}>{{branch}}</a>
            {% endfor %}
        </li>
        <li>Commit a new file to the branch {{ template_current_branch }}
            <a href="{{ url_for('upload', branch_name=template_current_branch) }}">here</a></li>
        <li>Files list in the {{ template_current_branch }} branch:</li>

        <table class="unstyledTable">
            <thead>
            <tr>
                <td>file name</td>
                <td></td>
                <td></td>
            </tr>
            </thead>
            {% for file in template_file_list %}
            <tr>
                <td>{{ file }}</td>
                <td>
                    <a href="{{ url_for('edit', branch_name=template_current_branch, file_name=file) }}">edit</a>
                </td>
                <td>
                    <a href="{{ url_for('delete', branch_name=template_current_branch, file_name=file) }}">delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>

    </ul>

</div>
{% endblock %}
