{% extends "layout.html" %}
{% block content %}

    <h3>Github files manager</h3>

    <ul>
        <li>Github session object ID: {{ gh_session_id }}</li>
        <li>Choose a Github branch:
            {% for branch in template_branch_list %}
            {% if branch == template_current_branch %}
            <a href="{{url_for('controller_gh_ui.ui_collection_files_route', branch_name=branch)}}"
               class="badge badge-info">{{branch}}</a>
            {% else %}
            <a href="{{url_for('controller_gh_ui.ui_collection_files_route', branch_name=branch)}}">{{branch}}</a>
            {% endif %}
            {% endfor %}
        </li>
        <li>Commit a new file to the branch {{ template_current_branch }}
            <a href="{{ url_for('controller_gh_ui.ui_singleton_file_create_route', branch_name=template_current_branch) }}">here</a></li>
        <li>Files list in the {{ template_current_branch }} branch:</li>
    </ul>

    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">file name</th>
                <th scope="col" colspan="2" style="width: 30%">available actions</th>
            </tr>
        </thead>
        {% for file in template_file_list %}
        <tr>
            <td>{{ file[0] }}</td>
            <td>
                <a href="{{ url_for('controller_gh_ui.ui_singleton_file_edit_route', branch_name=template_current_branch, file_name=file[0]) }}">
                    {% if file[1] %} <!-- if file is "text-editable" based on file extension type,
                    show "edit" in the link otherwise show "override" in the link-->
                    edit file
                    {% else %}
                    override file
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{ url_for('controller_gh_ui.ui_singleton_file_delete_route', branch_name=template_current_branch, file_name=file[0]) }}">
                    delete file
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
