body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
 * Formatting the header area
 */
header {
  background-color: #000;
  height: 28px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}

header a {
    color: #fff;
    text-decoration: none;
}

header h1.logo {
  margin: 0;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}
/*
 * Centering the body content
 */
.container {
  width: 1200px;
  margin: 0 auto;
}
div.config {
  padding: 10px 5px 50px 5px;
  border-color: #D8E4EB;
  border-style: dotted;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

div.manager_config {
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}
.menu {
  float: right;
  margin-top: 8px;
}
.menu li {
  display: inline;
}
.menu li + li {
  margin-left: 35px;
}
.menu li a {
  color: #fff;
  text-decoration: none;
}

table.customTable {
  width: 100%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #7EA8F8;
  border-style: dotted;
  color: #000000;
}

table.customTable td, table.customTable th {
  border-width: 2px;
  border-color: #7EA8F8;
  border-style: dotted;
  padding: 5px;
}

table.customTable thead {
  background-color: #D8E4EB;
}


a {
  color: blue;
  text-decoration: none;
}

a.selected {
  background-color: #ff0000;
  color: white;
  padding: none;
}

/*styling flash messages by category*/
.messages {
  border-radius: 3px;
  padding: 5px;
  margin-top: 5px;
}
.messages.warning {
    background: #ff1a1a;
}
.messages.success {
    background: #ccff66;
}
.messages.info {
    background: #ffff66;
}