{% extends "layout.html" %}
{% block content %}
  <div class="config">
    <h1>Config Manager</h1>
    <p>This website was built with Python via the Flask framework.</p>

      <ul>
          <li>Github session object ID: {{ gh_session_id }}</li>
          <li>Branches list: {{ b_list }}

            <select name= branches method="GET" action="/">
            {% for branch in b_list %}
            <option value= "{{branch}}" SELECTED>{{branch}}</option>"
            {% endfor %}
            </select>

          </li>

          <li>Files list in the branch: {{ curr_branch }} : {{ f_list }}

              <select name= files method="GET" action="/">
            {% for file in f_list %}
            <option value= "{{file}}" SELECTED>{{file}}</option>"
            {% endfor %}
            </select>

          </li>

          {% if temp_f_list %}
          <li>Local temp files list : {{ temp_f_list }}

              <select name= temp_files method="GET" action="/">
            {% for temp_file in temp_f_list %}
            <option value= "{{temp_file}}" SELECTED>{{temp_file}}</option>"
            {% endfor %}
            </select>

          </li>

            <li>

                <a href="{{ url_for('temp_files_merge') }}">merge</a> {{ temp_f_list }} files to one config

            </li>
            {% endif %}

          <li>Upload a new layout file <a href="{{url_for('upload')}}">here</a></li>
      </ul>

  </div>
{% endblock %}
