{% extends "layout.html" %}
{% block content %}

<div class="row mt-3">
    <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Github branches manager</h5>
        <p class="card-text">Here you can manage the Github branches in the repo.</p>
        <a href="{{url_for('controller_gh_ui.ui_collection_branches_route')}}"
           class="btn btn-primary">Github branches manager</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Github files manager</h5>
        <p class="card-text">Here you can manage the files in the Github branches in the repo.</p>
        <a href="{{url_for('controller_gh_ui.ui_collection_files_route', branch_name=template_current_branch)}}"
           class="btn btn-primary">Github files manager</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
