<!DOCTYPE html>
<html>
  <head>
    <title>flask_mvc_github_example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
          <h1 class="logo"><a href="/">Flask, PyGitHub, MVC, Celery boilerplate</a></h1>
        <strong><nav>
          <ul class="menu">
          <!-- here can be a top level menu -->
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">

      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>