<!DOCTYPE html>
<html>
  <head>
    <title>ACP Extra UX Mini</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
          <h1 class="logo"><a href="/">acp-extra-ux-mini</a></h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('config') }}">Config Manager</a></li>
            <li><a href="{{ url_for('workflow') }}">Workflow Manager</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">

      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>