<!DOCTYPE html>
<html lang="en">
<head>
    <title>flask_mvc_github_example_project</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<header>
    <div class="container">
        <h1 class="logo"><a href="/">Flask, MVC, Github example project</a></h1>
        <nav>
            <ul class="menu">
                <!-- here can be a top level menu -->
            </ul>
        </nav>
    </div>
</header>
<div class="container">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

        {% for category,message in messages %}
            <div class="messages {{ category }}">{{ message }}</div>
        {% endfor %}

    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
</div>
</body>
</html>